@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 24px;
}

code {
  font-family: "Montserrat", sans-serif;
}

/* Layouts */
.row {
  @apply flex items-center;
}

.between-row {
  @apply flex items-center justify-between;
}

.center-col {
  @apply flex flex-col items-center;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* Text */
.text-medium {
  @apply font-medium text-20;
}

/* Inputs */
.search-bar-input {
  @apply mt-[15px] w-[188px];
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.search-bar-input:focus {
  @apply outline-none;
}

.search-bar-input::placeholder {
  @apply text-medium text-grey;
}

/* Containers */
.search-bar-container {
  @apply row gap-x-[23px] pl-9 pr-[14px] py-5 w-fit mx-auto;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.item-container {
  @apply bg-white rounded-t-[150px] rounded-b-10 center-col justify-center;
}

/* Scrollbar */
.tour-type::-webkit-scrollbar {
  height: 5px;
}

.tour-type::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

.tour-type::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.tour-type::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Buttons */
.default-btn {
  @apply h-[60px] bg-orange hover:brightness-110 rounded-5 font-semibold text-24 text-white;
}

.primary-btn {
  @apply bg-orange rounded-10 font-medium text-white hover:brightness-110;
}

.secondary-btn {
  @apply rounded-10 border-1 border-black font-medium;
}

.quantity-btn {
  @apply row justify-center hover:bg-black5;
}

.warning-modal-btn {
  @apply w-[200px] h-[50px] rounded-10 font-medium;
}

/* Antd */

.ant-checkbox .ant-checkbox-inner {
  width: 24px;
  height: 24px;
  border: 2px solid black;
}

.ant-checkbox-wrapper {
  padding-bottom: 5px;
}

.small-checkbox .ant-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
}

.ant-dropdown-menu-title-content {
  @apply text-center;
}

.ant-dropdown-menu-title-content a:hover {
  color: #396746;
}

.ant-form {
  all: unset;
}

.ant-form-item {
  all: unset;
}

.payment-checkbox.ant-form-item .ant-form-item-control-input {
  align-items: unset;
}

.ant-form label {
  font-size: inherit;
}

.ant-checkbox-wrapper {
  padding-bottom: 0;
}

.book-form-row .ant-col {
  font-size: 18px;
}
